body {
	background-color: #2bc484;
}

.h1t{
	color: #e88b00;
	margin-left: 50px;
}

.tr {
	font-size: 25px;
	color: #e88b00;
	margin-left: 15px;
}

.sp {

	display: inline-block;
	margin-left: 50px;
	font-size: 20px;
	color: #e88b00;
	padding:10px;
}