body {
	background-color: #dbffdb
}

.div {
	background-color: #42f453;
}

.fp {
	font-size: 20px;
	display: inline-block;
}

.sp {

	display: inline-block;
	margin-left: 50px;
	font-size: 20px;
	color: red;
}