{% load staticfiles %}
{% load mathfilters %}
<!DOCTYPE html>
<html>
<head>
	<title>Lista de candidatos</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
	<link href="{% static 'css/app.css' %}" rel="stylesheet">	
</head>
<body>
	<h1 class="h1t">Lista de Candidatos</h1>
	{% for l in candidates %}
		<div class="tr">
		<p class="sp"><a href="{% url 'candidate_detail' l.pk %}">{{l}}</a></p>
		{% for k, v in dic.items %}
			{% if l.name == k %}
				<p class="sp">{{v}}</p>
			{%endif%}
		{% endfor %}
		</div>
	{% endfor %}
</body>
</html>

